= turbo_frame_tag question do
  .card.mb-3
    .card-body
      = form_with model: question, class: "row g-3" do |f|
        div data-question-form-target="errors"
          = render 'shared/errors', resource: question

        .col-12
          = f.label :title, class: "form-label"
          = f.text_field :title, class: "form-control"

        .col-12
          = f.label :body, class: "form-label"
          = f.text_area :body, class: "form-control", rows: 5

        .col-12
          p Links
          div data-controller="nested-form" data-nested-form-association-name-value="links"
            template data-nested-form-target="template"
              .row.nested-fields
                .col-md-6
                  = label_tag :name, "Link Name", class: "form-label"
                  = text_field_tag :name, nil, name: "question[links_attributes][NEW_CHILD_ID][name]", class: "form-control"

                .col-md-6
                  = label_tag :url, "URL", class: "form-label"
                  = text_field_tag :url, nil, name: "question[links_attributes][NEW_CHILD_ID][url]", class: "form-control"

                input type="hidden" value="0" name="question[links_attributes][NEW_CHILD_ID][_destroy]"
                = link_to "Remove link", "#", {action: "nested-form#remove"}

            div data-nested-form-target="fields"
              = f.fields_for :links do |link|
                .row.nested-fields
                  .col-md-6
                    = link.label :name, class: "form-label"
                    = link.text_field :name, class: "form-control"

                  .col-md-6
                    = link.label :url, class: "form-label"
                    = link.text_field :url, class: "form-control"

                  = link.hidden_field :_destroy
                  = link_to "Remove link", "#", data: { action: "nested-form#remove" }

            button.btn.btn-secondary data-action="nested-form#add" type="button" Add link

        .col-12
          div data-controller="upload"
            = f.file_field :files,
                    multiple: true,
                    direct_upload: true,
                    data: { upload_target: "input",  action: "change->upload#uploadFile" }
        .col-12
          p Reward
          = f.fields_for :reward do |r|
            - if r.object.persisted? && r.object.image.attached?
              = image_tag r.object.image.variant(resize_to_limit: [50, 50])

              = r.check_box :_destroy
              = r.label :_destroy, "Remove Reward"
              = r.hidden_field :id

            = r.label :title, class: "form-label"
            = r.text_field :title, class: "form-control"
            = r.file_field :image

        .col-12
          = f.submit 'Post question', class: "btn btn-primary"
