= turbo_frame_tag question
  h4= question.title
  p= question.body

  - if controller_name == 'questions' && action_name == 'index'
    = link_to 'Show', question_path(question), data: { turbo_frame: '_top' }

  / - if author_of?(question)
  = link_to 'Edit', edit_question_path(question)

  = link_to 'Delete', question_path(question),
                          method: :delete,
                          data: { turbo_method: :delete, turbo_confirm: 'Are you sure' }
