= turbo_frame_tag question do
  .card.mb-3
    .card-body
      .d-flex.justify-content-between.align-items-center
        div
          h4.card-title = question.title
          p.card-text = question.body

        div.attached-files.mt-2
          - if question.files.attached?
            .d-flex.flex-wrap
              - question.files.each do |file|
                = render partial: 'questions/files', locals: { file: file, question: question }

        div
          - unless show_view(question)
            = link_to 'Show', question_path(question), data: { turbo: false }, class: "btn btn-primary btn-sm"

          - if current_user&.owns?(question)
            = link_to 'Edit', edit_question_path(question), data: {turbo_stream: true}, class: "btn btn-warning btn-sm ms-2"
            = delete_link_with_conditional_turbo_frame(question, "btn btn-danger btn-sm ms-2")
