- if @user_rewards
  = render partial: 'layouts/rewards', locals: { collection: @user_rewards }

= turbo_frame_tag 'new_question'
    = render 'questions/shared/new_question'

= turbo_stream_from("questions_channel")

div id="questions"
  - @questions.each do |question|
    = render partial: 'questions/question', locals: { question: question }
