= turbo_frame_tag 'new_question'
  = render 'questions/shared/new_question'

div id="questions"
  - @questions.each do |question|
    = render partial: 'questions/question_index', locals: { question: question }
