= render partial: 'questions/question', locals: { question: @question }

= turbo_stream_from("answers_channel")

div id="answers" data-controller="answer-order answers" data-answer-order-target="answersContainer"
  = render partial: 'answers/answer', collection: @question.answers

- if user_signed_in?
  = render partial: 'answers/shared/new_answer'
