= render partial: 'questions/question_show', locals: { question: @question }

div id="answers"
  = render partial: 'answers/answer', collection: @question.answers

- if user_signed_in?
  = render partial: 'answers/shared/new_answer'
