= turbo_frame_tag @question
= render @question

div id="answers"
  = render partial: 'answers/answer', collection: @answers

- if user_signed_in?
  = render partial: 'answers/form', locals: { question: @question, answer: @answer }
