= turbo_frame_tag answer
  p= answer.body

  - if author_of?(answer)
    = link_to 'Edit', edit_answer_path(answer)
    = link_to 'Delete', answer_path(answer),
          method: :delete,
          data: { turbo_method: :delete, turbo_confirm: 'Are you sure' }

  - if answer == @question.best_answer
    = hidden_field_tag 'best_answer'
  - else
    - if user_signed_in?
      = button_to "Mark as best", best_answers_path(answer_id: answer.id), method: :post,
            data: { turbo_method: :post }
