= turbo_frame_tag answer
  p= answer.body

  - if author_of?(answer)
    = link_to 'Edit', edit_answer_path(answer)
    = link_to 'Delete', answer_path(answer),
          method: :delete,
          data: { turbo_method: :delete, turbo_confirm: 'Are you sure' }
