.row
  .col-md-10.offset-md-1
    = turbo_frame_tag answer do
      .card.mb-3
        .card-body
          .d-flex.justify-content-between.align-items-center
            div
              p.card-text = answer.body

            div.attached-files.mt-2
              - if answer.files.attached?
                .d-flex.flex-wrap
                  - answer.files.each do |file|
                    = render partial: 'layouts/files', locals: { file: file, source: answer }

            div
              .d-flex.align-items-center
                - if current_user&.owns?(answer)
                  = link_to 'Edit',
                          edit_answer_path(answer),
                          data: { turbo_stream: true },
                          class: "btn btn-warning btn-sm me-2"
                  = link_to 'Delete', answer_path(answer),
                          method: :delete,
                          data: { turbo_method: :delete, turbo_confirm: 'Are you sure' },
                          class: "btn btn-danger btn-sm me-2"

                - if answer == @question.best_answer
                  span.text-success Best answer
                - else
                  - if current_user&.owns?(@question)
                    = button_to "Mark as best",
                            best_answers_path(answer_id: answer.id),
                            method: :post,
                            data: { turbo_method: :post },
                            class: "btn btn-success btn-sm"
