= turbo_frame_tag Answer.new
  = form_with url: question_answers_path(@question), model: @answer, data: { controller: "answer-form" }  do |form|
    div data-answer-form-target="errors"
      = render 'shared/errors', resource: @answer

    = form.label :body, "Your Answer"
    br
    = form.text_area :body, data: { "answer-form-target": "answer_body" }
    br
    br
    = form.submit "Post Answer"
