= turbo_frame_tag answer
  = form_with url: answer_form_url(answer, question), model: answer do |form|
    = render 'shared/errors', resource: answer

    = form.label :body, "Your Answer"
    br
    = form.text_area :body
    br
    br
    = form.submit "Post Answer"
