= turbo_frame_tag answer
  = form_with url: answer_form_url(answer, question), model: answer do |f|
    = render 'shared/errors', resource: answer

    = f.label :body, "Your Answer"
    = f.text_area :body
    = f.submit "Post Answer"
